$primary-color: #061b25;
$input-color: #082937;
$button-icon: #1c89b8;
$to-do-done: #77b8d4;
$to-do-done-container-bg: #a4d0e3;
$to-do-done-container: #d2e7f1;
$bg: #e8f3f8;
$button: #ff8c42;
$breakpoint-tablet: 768px;
